.modal {
  width: 100dvw;
  height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
}
.modal::backdrop{
  opacity: 0;
  background: none;
}
.modal:not([open]) {
  display: none;
}

.modalInner {
  position: absolute;
  max-width: 500px;
  width: 100%;
  display: block;
  border: none;
  height: fit-content;
  padding-inline: 20px;
  padding-block: 30px;
  background-color: var(--base-100);
  border-radius: 5px;
  border: 1px solid gray;
}


.backdropButton {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  border: none;
  opacity: 0;
  background: none;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  transition: all var(--transition-duration);

  &:hover {
    background-color: var(--neutral-200\10);
  }

  &::before {
    content: 'x';
    font-size: 20px;
    translate: 0 -10%;
  }
}